.flex-container {
  // ABOUT ME SECTION
  &__aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

    @include respond(tab-portrait) {
      // width < 900px?
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 20px;
    }

    &--item {
      @include respond(tab-portrait) {
        // width < 900px?
        -ms-flex-item-align: center;
        align-self: center;
      }
    }
  }

  // SKILLS SECTION
  &__skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;

    &--item {
      &-bottom {
        white-space: nowrap;
      }
    }

    @include respond(tiny-phone) {
      // width < 375
      flex-direction: column;
    }
  }

  // FOOTER
  &__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @include respond(phone) {
      // When the screen width is LESS THAN 600px
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    @include respond(tab-landscape) {
      // width < 900px?
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }

    @include respond(small-phone) {
      // width < 450
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @include respond(tiny-phone) {
      // width < 375
      margin-left: 3rem;
      margin-right: 3rem;
    }

    &--item:first-child {
      margin-bottom: 2rem;
    }
  }
}
