.img-container {
  &__aboutimg {
    width: 90%;
    border-radius: $default-border-radius;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);
    min-height: 0;
    display: block;
    margin: auto;
  }
}
